/* variables to cover multiple sections of the DOM, change one, changes throughout the document, sets transverse movement of 75% */
:root { 
  --container-bg-color: #333;
  --left-bg-color: #070809cc;
  --left-button-hover-color: rgba(205, 245, 7, 0.3);
  --right-bg-color: #c1ef72cc;
  --right-button-hover-color: rgba(23, 3, 112, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
/* sets the properties of all html & body elements  */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat+Alternates", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* set the properties of all h1 elements */
h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  white-space: nowrap;
}
/* sets the properties of the h3 elements on the left side of the HOME page */
h3 {
    font-size: 1.2rem;
    position: absolute;
    color: rgb(250, 248, 248);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre-line;
    /* text-align: center; */
}
/* sets the properties of the buttons on the HOME page */
.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  height: 4rem;
  padding-top: 1.1rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transform: translateX(-50%);
}

.button1 {
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  height: 4rem;
  padding-top: 1rem;
  width: 15rem;
  text-align: center;
  color: #000;
  border: #000 solid 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transform: translateX(-50%);
}
/* sets the properties of the button when the mouse hovers over it */
.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}
/* sets the properties of the button when the mouse hovers over it */
.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}
/* the entire HOME page is set in a container div and this sets its properties */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('images/auctionbits.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("images/emptybar.jpg") center center no-repeat;
  background-size: cover;
}
/* sets up the overlay color ontop of the image and background color */
.split.right:before { 
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}
/* sets the speed and elements that transverse on mouseenter and mouseleave */
.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}
/* set the width of the transverse as listed in the root class, 75% */
.hover-left .left {
  width: var(--hover-width);
}
/* set the width of the other side to 25% based on the variable in the root class at 25% */
.hover-left .right {
  width: var(--other-width);
}
/* the z index causes the button to fade out as it tranverses back and forth */
.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
@media (max-width) {
  h3 {
    font-size: 0.8rem;
  }
}


  .button {
    width: 12rem;
  }
}

@media (max-height: 700px) {
  .button {
    top: 70%;
  }
}
