body {
  font-family: 'Montserrat+Alternates', sans-serif;
}

section {
  margin: 50px;
}
html,
body {
  height: 100%;
  font-family: "Montserrat+Alternates", sans-serif;
}

.heading {
  width: 600px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.title1 {
  display: block;
  text-align: center;
  color: white;
  font-size: 60pt;
}
.title2 {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 14pt;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;
  background-color: #fff;
}

.container1 {
  padding: 200px;
}

.grid-container-fluid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.grid-container > div {
  text-align: center;
  padding:  0;
  font-size: 1rem;
}

p {
    font-family: 'Montserrat+Alternates', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Montserrat+Alternates', sans-serif;
}
.register {
  margin: 50px auto;
  display: block;
  width: 180px;
  height: 50px;
  border: 3px solid rgb(247, 243, 243);
  background-color: #c2ef72;
  color: black;
  /* font-family:sans-serif; */
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 1000ms, color 1000ms;
}
.register:hover {
  background-color: #6da708;
  color: rgb(250, 246, 246);
  cursor: pointer;
  transition: background-color 1000ms, color 1000ms;
}

.registerLink {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: white;
  transition: color 1000ms;
}

.registerLink:hover {
  color: black;
}

.modal {
  width: 450px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #285d84;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.modal_container:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease;
}

.modal_container:target > div {
  transform: translate(0px, 0px);
}

.modal_container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  background: #c2ef72cc;
  transition: all 500ms ease;
}

.modal_heading {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: #c2ef72;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  /* font-family: big john; */
  border-bottom: 2px solid #fefefe;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border: 0px;
  font-family: 'Montserrat+Alternates', sans-serif;
  font-size: 11pt;
  text-align: center;
}

.btnRegister {
  background: red;
  color: white;
  font-family: "Montserrat+Alternates", sans-serif;
  font-size: 15pt;
  margin-top: 10px;
  cursor: pointer;
}
.btnRegister:hover {
  background: #b80000;
}

.close {
  color: white;
  position: absolute;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
  background: black;
  text-decoration: none;
  font-size: 1.25rem;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  transition: background 500ms;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  background: #444;
  cursor: pointer;
}

.signin {
  color: white;
  /* display:inline-block; */
  margin-top: 15px;
  text-align: left;
  float: left;
  text-decoration: none;
  font-size: 13pt;
}
.forgotPassword {
  color: white;
  /* display:inline-block; */
  margin-top: 15px;
  text-align: right;
  float: right;
  text-decoration: none;
  font-size: 13pt;
}

.signin:hover,
.forgotPassword:hover {
  text-decoration: underline;
}