*,
*::before,
*::after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Montserrat+Alternates', sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;
    height: 50vh;
    background-color: #fff;
    display: flex
}

.header {
    display: block;
    margin: auto;
}

.container {
    width: 80%;
    max-width: 100rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5rem;
    grid-template-areas: 
                        'img-1 img-2 img-3 img-3'
                        'img-1 img-4 img-5 img-6'
                        'img-7 img-7 img-8 img-6'
                        'img-9 img-10 img-11 img-12'
}

.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    position: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery a i{
    color: rgba(255, 255, 255, 255, 0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 255, 0.6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity 500ms;

}

.image-gallery a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    min-height: 50.5rem;
    background-image: url(testimages/img-1.jpg);

}

.img-2 {
    grid-area: img-2;
    background-image: url(testimages/img-2.jpg);

}
.img-3 {
    grid-area: img-3;
    background-image: url(testimages/img-3.jpg);

}
.img-4 {
    grid-area: img-4;
    background-image: url(testimages/img-4.jpg);

}
.img-5 {
    grid-area: img-5;
    background-image: url(testimages/img-5.jpg);

}
.img-6 {
    grid-area: img-6;
    min-height: 50.5rem;
    background-image: url(testimages/img-6.jpg);

}
.img-7 {
    grid-area: img-7;
    background-image: url(testimages/img-7.jpg);

}
.img-8 {
    grid-area: img-8;
    background-image: url(testimages/img-8.jpg);

}
.img-9 {
    grid-area: img-9;
    background-image: url(testimages/img-9.jpg);

}
.img-10 {
    grid-area: img-10;
    background-image: url(testimages/img-10.jpg);

}
.img-11 {
    grid-area: img-11;
    background-image: url(testimages/img-11.jpg);

}
.img-12 {
    grid-area: img-12;
    background-image: url(testimages/img-12.jpg);

}


































/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat+Alternates", sans-serif;
}

body {
  background-color: #285d84;
  /* background-image: url(stufimages/auctionbits.jpg); */
  /* background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
} */

/* .heading {
  width: 600px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.title1 {
  display: block;
  text-align: center;
  color: white;
  font-size: 60pt;
}
.title2 {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 14pt;
}

.register {
  margin: 50px auto;
  display: block;
  width: 180px;
  height: 50px;
  border: 3px solid rgb(247, 243, 243);
  background-color: #c2ef72;
  color: black;
  /* font-family:sans-serif; */
  /* font-weight: bold;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 1000ms, color 1000ms;
}
.register:hover {
  background-color: #6da708;
  color: rgb(250, 246, 246);
  cursor: pointer;
  transition: background-color 1000ms, color 1000ms;
} */

/* .registerLink {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: white;
  transition: color 1000ms;
} */
/* 
.registerLink:hover {
  color: black;
}
/* MODAL */

/* .modal_container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  background: #c2ef72cc;
  transition: all 500ms ease;
}

.modal_container:target {
  opacity: 1;
  pointer-events: auto;
} */ 

/* .modal_container > div {
  transform: translate(0px, -50px);
  transition: all 500ms ease;
} */

/*..modal_container:target > div {
  transform: translate(0px, 0px);
}

.modal {
  width: 450px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #285d84;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.modal_heading {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: #c2ef72;
  padding: 10px;
  text-align: center;
  font-size: 20pt;
  /* font-family: big john; */
  /* border-bottom: 2px solid #fefefe; */
/* }/* */

input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border: 0px;
  font-family: 'Montserrat+Alternates', sans-serif;
  font-size: 11pt;
  text-align: center;
}

.btnRegister {
  background: red;
  color: white;
  font-family: "Montserrat+Alternates", sans-serif;
  font-size: 15pt;
  margin-top: 10px;
  cursor: pointer;
}
.btnRegister:hover {
  background: #b80000;
}

.close {
  color: white;
  position: absolute;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
  /* font-family: big john; */
/*  background: black;
  text-decoration: none;
  font-size: 1.25rem;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  transition: background 500ms;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  background: #043989;
  cursor: pointer;
}

.signin {
  color: white;
  /* display:inline-block; */
/* margin-top: 15px;
  text-align: left;
  float: left;
  text-decoration: none;
  font-size: 13pt;
}
.forgotPassword {
  color: white;
  /* display:inline-block; */
 /* margin-top: 15px;
  text-align: right;
  float: right;
  text-decoration: none;
  font-size: 13pt;
}

.signin:hover,
.forgotPassword:hover {
  text-decoration: underline;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #285d84;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in;
}

.container1 {

}
.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

.bg1 {
  background: url('stufimages/indiana-jones.jpg');
}

.bg2 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg3 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg4 {
  background: url('stufimages/jones.jpg');
  color: #333;
}

.bg5 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg6 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg7 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg8 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg9 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg10 {
  background: url('stufimages/twoods.jpg');
  background-image: url('stufimages/twoods.jpg');
  background-position: center;
  background-size: initial;
  color: #333;
}

.bg11 {
  background: url('stufimages/jordanshoes.jpg');
  color: #333;
}

.bg12 {
  /* background: url('stufimages/jordanshoes.jpg'); */
 /* background-image: url('stufimages/twoods.jpg');
  color: #333;
} */